<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../../static/new/css/empty.css" rel="stylesheet" type="text/css" />
		<title>Пустая</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
                <a id="logo" href="#"><img src="../../static/new/img/logo.png" alt="логотип"></a>
				<ul id="user_actions">
					<li class="header_action" id="header_signup"><a href="#">Signup</a></li>
					<li class="header_action" id="header_login"><a href="#">Login</a></li>
					<li class="header_action" id="header_logout"><a href="#"><span>Logout</span></a></li>
					<li id="header_username">Username</li>
				</ul>
				<div id="header_actions">
					<a href="#" class="header_action" id="header_add"><span>Add a Snippet</span></a>
					<form id="header_search" class="header_action" method="get" action="">
						<button id="search" type="submit"><span></span></button>
						<input id="query" name="query">
					</form>
				</div>
				<div id="navi">
					<ul id="tabs">
						<li class="tab">
							<a href="#">Fresh</a>
						</li>
						<li class="tab action">
							<a href="#">Rising</a>
						</li>
						<li class="tab">
							<a href="#">Top</a>
						</li>
						<li class="tab">
							<a href="#">Feature</a>
						</li>
						<li class="tab">
							<a href="#">100*</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="right">
				<h3>Recent Activity</h3>
				<ul id="activity">
					<li>
						<a href="#" class="user">Petr</a> created <a href="#" class="snippet_link">aaaaaaaaaaaaaaa</a>
					</li>
					<li>
						<a href="#" class="user">Ruslan</a> commented <a href="#" class="snippet_link">Python greenlets</a>
					</li>
					<li>
						<a href="#" class="user">Aleksand Aleksandovich</a> created <a href="#" class="snippet_link">CS1.6 anty-cheat script</a>
					</li>
					<li>
						<a href="#" class="user">Oleg</a> created <a href="#" class="snippet_link">Python greenlets</a>
					</li>
					<li>
						<a href="#" class="user">Petr</a> commented <a href="#" class="snippet_link">How to rename file programmatically</a>
					</li>
					<li>
						<a href="#" class="user">Nikolay</a> created <a href="#" class="snippet_link">How to rename file programmatically</a>
					</li>
					<li>
						<a href="#" class="user">Aleksand Aleksandovich</a> commented <a href="#" class="snippet_link">bbbbbbbbbbbbbbbbbbbbb</a>
					</li>
				</ul>
				<h3><a href="#">Tags</a></h3>
				<ul id="tags">
					<li>
						<a href="#" class="tag">a</a><span class="all">100</span><span class="new">+43</span>
					</li>
					<li>
						<a href="#" class="tag">Aa</a><span class="all">43</span><span class="new">+5</span>
					</li>
					<li>
						<a href="#" class="tag">Aaa</a><span class="all">12</span><span class="new">+10</span>
					</li>
					<li>
						<a href="#" class="tag">Aaaa</a><span class="all">59</span><span class="new"></span>
					</li>
					<li>
						<a href="#" class="tag">aaaaa</a><span class="all">18</span><span class="new">+1</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaa</a><span class="all">100</span><span class="new">+43</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaa</a><span class="all">43</span><span class="new">+5</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaa</a><span class="all">12</span><span class="new">+10</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaaaa</a><span class="all">59</span><span class="new"></span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaaaaa</a><span class="all">18</span><span class="new">+1</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaaaaaa</a><span class="all">100</span><span class="new">+43</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaaaaaaa</a><span class="all">43</span><span class="new">+5</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaaaaaaaa</a><span class="all">12</span><span class="new">+10</span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaaaaaaaaa</a><span class="all">59</span><span class="new"></span>
					</li>
					<li>
						<a href="#" class="tag">aaaaaaaaaaaaaaa</a><span class="all">18</span><span class="new">+1</span>
					</li>
				</ul>
			</div>
			<div id="content">
			</div>
			<div id="hFooter"></div>
		</div>
		<div id="footer">
			<span>© 2012 Snippet.at</span>
		</div>
	</body>
</html>
