{% if user.is_authenticated %}
<a name="comment-form"></a>
<form id="comment_form" action="{% url comments-post-comment %}" method="post">
    {%csrf_token%}
    <label for="id_comment">Leave your comment...</label>
    <textarea name="comment" id="id_comment" rows="2" style="width: 90%;"></textarea>
    <p>
        <input class="button" type="submit" name="post" value="Add">
    </p>
    <input type="hidden" name="next" value="{{ request.path }}#comments" />
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
</form>
{% else %}
<p class="comment-need-login">Please <a href="{% url auth_login %}?next={{ request.path }}%23comment-form">login</a> to leave your comment.</p>
{% endif %}
