{% extends 'main_noright.html' %}

{% block page_title%}Add a Snippet{%endblock%}

{% block css_files %}
    <link href="{{ STATIC_URL}}css/add_snippet.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block navi %}
    <li class="tab action"><a href="javascript:;">Add a Snippet</a></li>
{% endblock %}

{% block content %}
<div class="snippet_editor">
    <form id="add_snippet" method="post" action=".">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }} <br class="clearfix" />
            {% if field.help_text %} {{ field.help_text }} {% endif %}
            {% if field.errors %} {{ field.errors }} {% endif %}
            <div class="clearfix" style="margin-top: 10px;"></div>
        {% endfor %}
        <div style="text-align: center;">
            <div class="button button_blue"><button onclick="document.forms.add_snippet.submit();">Add!</button></div>
        </div>
    </form>
</div>
{% endblock %}
