{% extends 'main.html' %}

{% load comments %}
{% load markup %}

{% block page_title %}{% if index_page_title != None %}{{ index_page_title }}{% else %}Main{%endif%}{% endblock %}

{% block css_files %}
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js_files %}
{% endblock %}

{% block navi %}
    <li class="tab action">
        <a href="{% url snippets_fresh %}" class="navi_link">Fresh</a>
    </li>
    <li class="tab">
        <a href="{% url snippets_top %}" class="navi_link">Feature</a>
    </li>
    <li class="tab">
        <a href="{% url snippets_alltags %}" class="navi_link">All Tags</a>
    </li>
{% endblock %}

{% block content %}
    <ul id="snippets">
        {% for snippet in snippets %}
            <li class="snippet">
                <div class="rating_wrapper">
                    <span class="rating">{{ snippet.score }}</span>
                    {% get_comment_count for snippet as snippet_comments %}
                    <span class="comments">{{ snippet_comments }}</span>
                </div>

                <h1><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a></h1>

                <div class="snippet_tags">
                    {% for tag in snippet.tags.all %}
                        <a href="{% url snippets_tag tag.tag %}" class="tag">{{ tag.tag }}</a>
                    {% endfor %}
                </div>

                <p class="description">{{ snippet.description }}</p>
                <p class="author"><span title="{{ snippet.created }}">{{ snippet.age }}</span> by <a href="{% url user_profile snippet.author.username %}" class="user">{{ snippet.author.username }}</a></p>
            </li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <ul id="pages">
            {% for page in pages %}
            <li>
                <a href="?page={{ page }}" class="navi_link">{{ page }}</a><span> | </span>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    <div id="footer_navi">
        {% if is_paginated %}
            {% for page in pages %}
            <a href="?page={{ page }}" class="navi_link">{{ page }}</a><span> | </span>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
