{% extends 'main.html' %}

{% load markup %}
{% load comments %}

{% block page_title %}{{ snippet.title }}{% endblock %}

{% block js_files %}
    <script type="text/javascript" src="{{ STATIC_URL}}js/common.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/vote.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fav.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/copy_code.js"></script>
{% endblock %}

{% block css_files %}
    <link href="{{ STATIC_URL}}css/snippet.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div id="snippet">
        <div class="rating">
            <p class="vote vote_up" snippet_id="{{ snippet.id }}"><img src="{{ STATIC_URL }}img/like.png" alt="+"></p>
            <p><span id="score{{ snippet.id}}" class="current_rating" title="Rating">{{ snippet.score }}</span></p>
            <p class="vote vote_down" snippet_id="{{ snippet.id }}"><img src="{{ STATIC_URL }}img/dislike.png" alt="-"><p>
        </div>

        <h1>{{ snippet.title }} <img id="fav{{ snippet.id}}" src="{{ STATIC_URL }}img/{% if not is_fav %}un{% endif %}bookmarked.png" class="favourite" snippet_id="{{ snippet.id }}"/> <div class="button button_gray"><button onclick="open_copycode_dialog();">Copy</button></div></h1>

        <div class="snippet_tags">
            {% for tag in snippet.tags.all %}
            <a href="{% url snippets_tag tag.tag %}" class="tag">{{ tag.tag }}</a>
            {% endfor %}
        </div>


        <div class="description">
            <p> {{ snippet.description }}</p>
            {% if user_is_author %}<a href="{% url snippet_edit snippet.id %}">(edit)</a>{% endif %}
            <br/>
            <!-- AddThis Button BEGIN -->
            <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-506c169725d22ea1"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
            <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-506c169725d22ea1"></script>
            <!-- AddThis Button END -->
        </div>

        <div class="text">
            {{ snippet.body|markdown:"safe" }}
        </div>					

        <p class="author"><span title="{{ snippet.created }}">{{ snippet.age}}</span> by <a href="{% url user_profile snippet.author.username %}" class="user">{{ snippet.author.username }}</a></p>
    </div>

        <h2 style="margin-left: 20px;">{% get_comment_count for snippet as comments_count %} {{ comments_count }} comment(s)</h2>

        <a name="comment-form"></a>
        {% render_comment_form for snippet %}

        <a name="comments"></a>
        {% get_comment_list for snippet as comments %}
        {% for comment in comments %}
            <div class="comment">
            <!--    <div class="rating">
                    <p><a href="" title="+1"><img src="/static/new/img/like.png" alt="+"></a></p>
                    <p><span class="current_rating" title="Репутация">100</span></p>
                    <p><a href="" title="-1"><img src="/static/new/img/dislike.png" alt="-"></a><p>
                </div> -->
                <div class="text">
                    <p>
                    {{ comment.comment }}
                    </p>
                </div>
                <div>
                    <span class="author">{{ comment.submit_date }} by <a href="{% url user_profile comment.user_name %}" class="user">{{ comment.user_name }}</a></span>
                    <span class="comment_action"><a href="javascript:;">Report</a></span>
                </div>
            </div>
        {% endfor %}

        <div id="modal_background"> </div>
        <div id="copy_code_dialog" class="modal">
            <div class="modal_wrapper">
                <div class="title">Copy code</div>
                <div class="content">
                    <textarea id="copy_code" style="width: 100%; height: 300px;">{{ snippet.body }}</textarea>
                </div>
                <div class="buttons">
                    <div class="button button_blue"><button onclick="hide_modal('copy_code_dialog');">OK</button></div>
                </div>
            </div>
        </div>

{% endblock %}
